<%- include("header") -%>
<main>

     <section class="mainContainer">
     <div class='title'>
          <h2>Active Projects</h2>
          <div class='underline'></div>
     </div>
     <% for(collab of collabs) {%>
     <article class='review'>
          <a href="/user/<%=collab.adminID%>"><h4 class='author'><%=collab.adminName%></h4></a>
          <p class='job'><%=collab.title%></p>
          <p class='info'><%=collab.desc%></p>
          <p class='info'><a href=<%=collab.link%>><%=collab.link%></a></p>
         
          <form action="/collab/request/<%=collab.adminID%>" method="POST">
          <button type="submit" class='random-btn'>
          Join me
          </button>
          </form>
     </article>
     <%}%>
     </section>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script type="text/javascript" src="/scripts/request.js"></script>
</main>

